@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Nunito", sans-serif;
}

@theme{
  --color-purple-dark: #663399;
  --color-purple-light: #ba55d3;

  --font-pacifico: Pacifico, "cursive";
  --font-nunito: Nunito, "sans-serif";
}



.aurora-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}